mixin ga(id)
    //- Pass your ga id, as attribute, eg. +ga('yourid12345')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '!{id}');
    script(async,src='https://www.googletagmanager.com/gtag/js?id=' + id)