// Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal1', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 MJ Designs LLC
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5.border.border-dark(src='assets/img/portfolio/Screenshot 2022-04-20 - Home - Jackson Lifestyle.png', alt='MJ Designs LLC - Website - Screenshot')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            button.btn.outline.btn-outline-secondary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window
                            a.btn.btn-primary(href='https://jacksonlifestyle.com',target='_blank')
                                i.fas.fa-eye.fa-fw
                                | View
